<form #igsConfigForm="ngForm" class="editForm" novalidate>
    <div class="col s12 center" style="margin-top: 20px;">
        <h5 class="center">{{title}}</h5>
        <p class="light center">{{description}}</p>
        <br>
    </div>

    <div class="tab-pane fade in active">
        <div class='row z-depth-3 predix darken-4' style="padding: 25px 50px;">
            <div class="input-field col s12">
                <p class="light" for="serveruri"><b>SERVER_URI</b>: This is the only field needed by a Predix Machine to point an IGS instance and catch OPCUA data</p>
                <input class="form-control input-md" #serveruri="ngModel" required id="serveruri" name="serveruri" type="text" placeholder="SERVER_URI" [(ngModel)]="igsConfig.SERVER_URI">
            </div>
            <div class="input-field col s6">
                <p class="light" for="appuri"><b>APP_URI</b>: This is the a field to specify App Uri</p>
                <input class="form-control input-md" #appuri="ngModel" required id="appuri" name="appuri" type="text" placeholder="APP_URI" [(ngModel)]="igsConfig.APP_URI">
            </div>
            <div class="input-field col s12">
                <p class="light" for="producturi"><b>PRODUCT_URI</b>: This is the a field to specify Product Uri</p>
                <input class="form-control input-md" #producturi="ngModel" required id="producturi" name="producturi" type="text" placeholder="PRODUCT_URI" [(ngModel)]="igsConfig.PRODUCT_URI">
            </div>
            <div class="input-field col s12">
                <p class="light" for="namespaceindex"><b>NAMESPACE_INDEX</b>: This is the a field to specify Namespace Index used by IGS OPCUA Server</p>
                <input class="form-control input-md" #namespaceindex="ngModel" required id="namespaceindex" name="namespaceindex" type="text" placeholder="NAMESPACE_INDEX" [(ngModel)]="igsConfig.NAMESPACE_INDEX">
            </div>
            <div class="row">
                <div class="input-field col s12" style="text-align: center;">
                    <button uiSref="homePage" class="btn waves-effect waves-light predix darken-2" (click)="save(igsConfigForm)">Welcome Page
                        <i class="material-icons right">home</i>
                    </button>
                    <button class="btn waves-effect waves-light predix lighten-5" style="margin: 5px auto;" name="reset" id="reset">Reset Conf
                        <i class="material-icons right">delete</i>
                    </button>
                    <button class="btn waves-effect waves-light predix lighten-3" style="margin: 5px auto;" name="load" id="load" (click)="igsConfig.setDefault();">Load Conf
                        <i class="material-icons right">file_upload</i>
                    </button>
                    <button uiSref="predixGlobalConfig" class="btn waves-effect waves-light predix darken-2" [disabled]="!igsConfigForm.valid" (click)="save(igsConfigForm)">Next Step
                        <i class="material-icons right">navigate_next</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
