<form #predixCloudConfigForm="ngForm" class="editForm" novalidate>
    <div class="col s12 center">
        <h5 class="center">{{title}}</h5>
        <p class="light center">{{description}}</p>
        <br>
    </div>

    <div class="tab-pane fade in active">
        <div class="input-field col s6">
            <p class="light" for="globalconfigsuffix"><b>TIMESERIES_ZONE_ID</b>: This is the ZONE ID (cf env main app name) needed to define timeseries.</p>
            <input class="form-control input-md" #globalconfigsuffix="ngModel" required id="globalconfigsuffix" name="globalconfigsuffix" type="text" placeholder="TIMESERIES_ZONE_ID" [(ngModel)]="predixCloudConfig.TIMESERIES_ZONE_ID">
        </div>
        <p class="light-blue-text center" style="margin: 0 1%;">The following name define default file names for configuration of Predix Stack from edge to cloud.</p>
        <div class='row'>
            <div class="input-field col s12">
                <p class="light" for="datatypeconfigsuffix"><b>URL_OAUTH_TOKEN</b>: The following name define default file names for configuration of Predix Stack from edge to cloud.</p>
                <input class="form-control input-md" #datatypeconfigsuffix="ngModel" required id="datatypeconfigsuffix" name="datatypeconfigsuffix" type="text" placeholder="URL_OAUTH_TOKEN" [(ngModel)]="predixCloudConfig.URL_OAUTH_TOKEN">
            </div>
            <div class="input-field col s6">
                <p class="light" for="opcuadatanodes"><b>APP_CLIENT_ID</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #opcuadatanodes="ngModel" required id="opcuadatanodes" name="opcuadatanodes" type="text" placeholder="APP_CLIENT_ID" [(ngModel)]="predixCloudConfig.APP_CLIENT_ID">
            </div>
            <div class="input-field col s6">
                <p class="light" for="hooverspillway"><b>APP_CLIENT_SECRET</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #hooverspillway="ngModel" required id="hooverspillway" name="hooverspillway" type="text" placeholder="APP_CLIENT_SECRET" [(ngModel)]="predixCloudConfig.APP_CLIENT_SECRET">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s9">
                <p class="light" for="predixcloudidentity"><b>PROXY_HOST</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #predixcloudidentity="ngModel" required id="proxyhost" name="proxyhost" type="text" placeholder="PROXY_HOST" [(ngModel)]="predixCloudConfig.PROXY_HOST">
            </div>
            <div class="input-field col s3">
                <a class="btn-floating btn-small waves-effect waves-light light-blue" id="addproxyexception" name="addproxyexception" (click)="addException();"><i class="material-icons">add</i></a>
            </div>
            <form [formGroup]="exceptionsForm">
                <div formArrayName="exceptions">
                    <div class="input-field col s12">
                        <table>
                            <thead>
                            <tr>
                                <th>Host exceptions</th>
                            </tr>
                            </thead>
                            <tbody id="PROXY_EXCEPTIONS">
                            <tr *ngFor="let prop of exceptionsForm.get('exceptions').controls; let i = index" >
                                <td>
                                    <input type="text" class="form-control" [formControlName]="i" style="width: 80%; margin-right: 10%;">
                                    <a class="btn-floating btn-small waves-effect waves-light red" id="removeproxyexception" name="removeproxyexception" (click)='removeException("i");'><i class="material-icons">remove</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="input-field col s12" style="text-align: center;">
                    <button uiSref="predixGlobalConfig" class="btn btn-outline-rounded btn-default" (click)="save(predixCloudConfigForm)">Previous Step
                        <i class="material-icons right">navigate_before</i>
                    </button>
                    <button class="btn waves-effect waves-light red" style="margin: 5px auto;" name="reset" id="reset">Reset Conf
                        <i class="material-icons right">delete</i>
                    </button>
                    <button class="btn waves-effect waves-light green" style="margin: 5px auto;" name="load" id="load" (click)="predixCloudConfig.setDefault();">Load Conf
                        <i class="material-icons right">file_upload</i>
                    </button>
                    <button uiSref="result" class="btn btn-success btn-outline-rounded btn-info" [disabled]="!predixCloudConfigForm.valid" (click)="save(predixCloudConfigForm)">Next Step
                        <i class="material-icons right">navigate_next</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>