/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


main {

    background-image: url('./assets/images/L1_banner_2x.png');
    background-size: 2000px 600px;
    background-repeat: no-repeat;

}