/* RGB */
$color1: rgba(3, 31, 42, 1.00);
$color2: rgb(3, 41, 56);
$color3: rgb(4, 61, 84);
$color4: rgb(28, 72, 94);
$color5: rgb(37, 96, 124);
$color6: rgb(50, 129, 168);
$color7: rgb(51, 141, 164);
$color8: rgb(54, 150, 174);
$color9: rgb(154, 191, 212);
$color10: rgb(228, 42, 205);