<form #predixCloudConfigForm="ngForm" class="editForm" novalidate>
    <div class="col s12 center" style="margin-top: 20px;">
        <h5 class="center">{{title}}</h5>
        <p class="light center">{{description}}</p>
        <br>
    </div>

    <div class="tab-pane fade in active">
        <div class='row z-depth-3 predix darken-4' style="padding: 25px 50px;">
            <div class="input-field col s12">
                <p class="light" for="timeserieszoneid"><b>TIMESERIES_ZONE_ID</b>: This is the ZONE ID (cf env app-name) needed to define timeseries.</p>
                <input class="form-control input-md" #timeserieszoneid="ngModel" required id="timeserieszoneid" name="timeserieszoneid" type="text" placeholder="TIMESERIES_ZONE_ID" [(ngModel)]="predixCloudConfig.TIMESERIES_ZONE_ID">
            </div>
        <!--<p class="light-blue-text center" style="margin: 0 1%;">The following parameters are needed to communicate with Predix Cloud.</p>-->
            <div class="input-field col s12">
                <p class="light" for="urloauthtoken"><b>URL_OAUTH_TOKEN</b>: The oauth token url (UAA)</p>
                <input class="form-control input-md" #urloauthtoken="ngModel" required id="urloauthtoken" name="urloauthtoken" type="text" placeholder="URL_OAUTH_TOKEN" [(ngModel)]="predixCloudConfig.URL_OAUTH_TOKEN">
            </div>
            <div class="input-field col s7">
                <p class="light" for="appclientid"><b>APP_CLIENT_ID</b> - Note: client ID must be enable to work with timeseries pointed before</p>
                <input class="form-control input-md" #appclientid="ngModel" required id="appclientid" name="appclientid" type="text" placeholder="APP_CLIENT_ID" [(ngModel)]="predixCloudConfig.APP_CLIENT_ID">
            </div>
            <div class="input-field col s5">
                <p class="light" for="appclientsecret"><b>APP_CLIENT_SECRET</b></p>
                <input class="form-control input-md" #appclientsecret="ngModel" required id="appclientsecret" name="appclientsecret" type="text" placeholder="APP_CLIENT_SECRET" [(ngModel)]="predixCloudConfig.APP_CLIENT_SECRET">
            </div>
        <!--</div>-->
        <!--<div class="row">-->
            <div class="input-field col s8">
                <p class="light" for="proxyhost"><b>PROXY_HOST</b>: This is the host of proxy if your company is behind a firewall.</p>
                <input class="form-control input-md" #proxyhost="ngModel" id="proxyhost" name="proxyhost" type="text" placeholder="PROXY_HOST" [(ngModel)]="predixCloudConfig.PROXY_HOST">
            </div>
            <form [formGroup]="exceptionsForm">
                <div class="input-field col s3">
                    <p class="light" for="proxyexception"><b>PROXY_EXCEPTION</b></p>
                    <input class="form-control input-md" formControlName="exceptionName" id="proxyexception" name="proxyexception" type="text" placeholder="PROXY_EXCEPTION" value="">
                </div>
                <div class="input-field col s1">
                    <a class="btn-floating btn-small waves-effect waves-light light-blue" id="addproxyexception" name="addproxyexception" (click)="addException();" style="margin-top: 50px;"><i class="material-icons">add</i></a>
                </div>
                <div class="input-field col s12" formArrayName="exceptionList">
                    <div *ngFor="let exception of exceptionsForm.get('exceptionList').controls; let i = index" class="chip">{{exception.value}}<i class="close material-icons" (click)="removeException(i);">close</i></div>
                </div>
                <!--<div class="input-field col s12" formArrayName="exceptionList">-->
                    <!--<div class="chips chips-autocomplete" onclick="return createChips();"></div>-->
                <!--</div>-->
            </form>
            <div class="row">
                <div class="input-field col s12" style="text-align: center;">
                    <button uiSref="predixGlobalConfig" class="btn waves-effect waves-light predix darken-2" (click)="save(predixCloudConfigForm)">Previous Step
                        <i class="material-icons right">navigate_before</i>
                    </button>
                    <button class="btn waves-effect waves-light predix lighten-5" style="margin: 5px auto;" name="reset" id="reset">Reset Conf
                        <i class="material-icons right">delete</i>
                    </button>
                    <button class="btn waves-effect waves-light predix lighten-2" style="margin: 5px auto;" name="load" id="load" (click)="predixCloudConfig.setDefault();">Load Conf
                        <i class="material-icons right">file_upload</i>
                    </button>
                    <button uiSref="tagMappingSchema" class="btn waves-effect waves-light predix darken-2" [disabled]="!predixCloudConfigForm.valid" (click)="save(predixCloudConfigForm)">Next Step
                        <i class="material-icons right">navigate_next</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--<script type="javascript">-->

    <!--function createChips() {-->
        <!--$('.chips').material_chip();-->
        <!--$('.chips-autocomplete').material_chip({-->
            <!--autocompleteOptions: {-->
                <!--data: {-->
                    <!--'Apple': null,-->
                    <!--'Microsoft': null,-->
                    <!--'Google': null-->
                <!--},-->
                <!--limit: Infinity,-->
                <!--minLength: 1-->
            <!--}-->
        <!--});-->
    <!--}-->

<!--</script>-->
