<form #sitesGroupsForms="ngForm" class="editForm" novalidate>
    <div class="col s12 center" style="margin-top: 20px;">
        <h5 class="center">{{title}}</h5>
        <p class="light center">{{description}}</p>
        <br>
    </div>

    <div class="tab-pane fade in active">
        <form [formGroup]="sitesGroupsWrapper" novalidate (ngSubmit)="save(sitesGroupsWrapper)">
            <div formArrayName="sitesGroupsForms">
                <div *ngFor="let sitesGroupsForm of sitesGroupsWrapper.controls.sitesGroupsForms.controls; let formIndex=index">
                    <div [formGroupName]="formIndex" class="row z-depth-3 predix darken-4" style="padding: 25px 50px;">
                        <div *ngIf="sitesGroupsWrapper.controls.sitesGroupsForms.controls.length > 1">
                            <div class="input-field col s10">
                                <input class="form-control input-md" name="siteName" type="text"
                                       placeholder="SITE NAME: Insert here the name of the Site of your Factory"
                                       formControlName="siteName">
                            </div>
                            <div class="input-field col s1 center-align">
                                <a class="btn-floating btn-small waves-effect waves-light red"
                                   name="removeSiteGroupsForm" (click)="removeSiteGroupsForm(formIndex);"><i
                                        class="material-icons">delete</i></a>
                            </div>
                            <div class="input-field col s1 center-align">
                                <a class="btn-floating btn-small waves-effect waves-light light-blue"
                                   name="addSiteGroupsForm" (click)="addSiteGroupsForm();"><i
                                        class="material-icons">add</i></a>
                            </div>
                        </div>
                        <div *ngIf="sitesGroupsWrapper.controls.sitesGroupsForms.controls.length <= 1">
                            <div class="input-field col s11">
                                <input class="form-control input-md" name="siteName" type="text"
                                       placeholder="SITE NAME: Insert here the name of the Site of your Factory"
                                       formControlName="siteName">
                            </div>
                            <div class="input-field col s1 center-align">
                                <a class="btn-floating btn-small waves-effect waves-light light-blue"
                                   name="addSiteGroupsForm" (click)="addSiteGroupsForm();"><i
                                        class="material-icons">add</i></a>
                            </div>
                        </div>
                        <div formArrayName="groups">
                            <div *ngFor="let siteGroup of sitesGroupsForm.controls.groups.controls; let siteGroupIndex=index">
                                <div [formGroupName]="siteGroupIndex" style="padding-right: 11px;">
                                    <div class="row">
                                        <div class="input-field col s5 offset-s1">
                                            <input class="form-control input-md" name="groupName" type="text"
                                                   placeholder="GROUP NAME: Insert here the name of the group of machines"
                                                   formControlName="groupName">
                                        </div>
                                        <div class="input-field col s5">
                                            <md-select id="schema{{formIndex+siteGroupIndex}}"
                                                       formControlName="globalTagMappingSchema"
                                                       style="color: white; !important; width: 100%;">
                                                <md-option value="" disabled>Choose a Tag Mapping Schema</md-option>
                                                <md-option *ngFor="let tagMappingSchema of tagMappingSchemas;"
                                                            [value]="tagMappingSchema"
                                                    >{{tagMappingSchema}}</md-option>
                                            </md-select>
                                            <!--<label for="schema{{formIndex+siteGroupIndex}}">Materialize Select</label>-->
                                        </div>
                                        <div class="input-field col s1 center-align">
                                            <a class="btn-floating btn-small waves-effect waves-light light-blue"
                                               name="addGroup" (click)="addGroup(formIndex);"><i
                                                    class="material-icons">add</i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="input-field col s5">-->
                                        <!--<input class="form-control input-md" name="globalTagMappingSchema" type="text" placeholder="TAG Mapping Schema: Insert here the name of the group of machines" formControlName="globalTagMappingSchema">-->
                                        <!--</div>-->
                                        <div class="input-field col s5 offset-s1">
                                            <input class="form-control input-md" name="globalPrefix" type="text"
                                                   placeholder="GROUP GLOBAL PREFIX: Insert here the prefix to give at this group of machines" formControlName="globalPrefix">
                                        </div>
                                        <div class="col s5" style="margin-top: 10px;">
                                            <p>
                                                <input type="checkbox" id="checkbox{{formIndex+siteGroupIndex}}" formControlName="globalEnableSetup"/><label
                                                    for="checkbox{{formIndex+siteGroupIndex}}">Enable Group
                                                Setup</label>
                                            </p>
                                        </div>
                                        <div *ngIf="sitesGroupsForm.controls.groups.controls.length > 1"
                                             class="input-field col s1 center-align">
                                            <a class="btn-floating btn-small waves-effect waves-light red"
                                               name="removeGroup"
                                               (click)="removeGroup(formIndex, siteGroupIndex);"><i
                                                    class="material-icons">delete</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<div class="input-field col s12 center-align">-->
                    <!--<button *ngIf="sitesGroupsWrapper.controls.sitesGroupsForms.controls.length > 1" class="btn btn-success waves-effect waves-light btn-info red" (click)="removeNewTagMappingSchema(formIndex)">Delete Group-->
                    <!--<i class="material-icons right">delete</i>-->
                    <!--</button>-->
                    <!--<button class="btn btn-success waves-effect waves-light btn-info light-blue" (click)="addNewTagMappingSchema()">Add Group-->
                    <!--<i class="material-icons right">add</i>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="input-field col s12" style="text-align: center;">
            <button uiSref="tagMappingSchema" class="btn waves-effect waves-light predix darken-2"
                    (click)="save(sitesGroupsForms)">Previous Step
                <i class="material-icons right">navigate_before</i>
            </button>
            <button uiSref="homePage" class="btn waves-effect waves-light predix lighten-5" style="margin: 5px auto;" name="reset"
                    id="reset" (click)="reset()">Reset Conf
                <i class="material-icons right">delete</i>
            </button>
            <button class="btn waves-effect waves-light predix lighten-2" style="margin: 5px auto;" name="load"
                    id="load">Load Conf
                <i class="material-icons right">file_upload</i>
            </button>
            <button uiSref="groupsMachines" class="btn waves-effect waves-light predix darken-2"
                    [disabled]="!sitesGroupsForms.valid" (click)="save(sitesGroupsForms)">Next Step
                <i class="material-icons right">navigate_next</i>
            </button>
        </div>
    </div>

</form>
