<form #predixGlobalConfigForm="ngForm" class="editForm" novalidate>
    <div class="col s12 center">
        <h5 class="center">{{title}}</h5>
        <p class="light center">{{description}}</p>
        <br>
    </div>

    <div class="tab-pane fade in active">
        <div class='row'>
            <div class="input-field col s6">
                <p class="light" for="globalconfigsuffix"><b>GLOBAL_CONFIG_SUFFIX</b>: Default ".config"</p>
                <input class="form-control input-md" #globalconfigsuffix="ngModel" required id="globalconfigsuffix" name="globalconfigsuffix" type="text" placeholder="GLOBAL_CONFIG_SUFFIX" [(ngModel)]="predixGlobalConfig.GLOBAL_CONFIG_SUFFIX">
            </div>
            <div class="input-field col s6">
                <p class="light" for="datatypeconfigsuffix"><b>DATATYPE_CONFIG_SUFFIX</b>: Default ".xml"</p>
                <input class="form-control input-md" #datatypeconfigsuffix="ngModel" required id="datatypeconfigsuffix" name="datatypeconfigsuffix" type="text" placeholder="DATATYPE_CONFIG_SUFFIX" [(ngModel)]="predixGlobalConfig.DATATYPE_CONFIG_SUFFIX">
            </div>
            <div class="input-field col s6">
                <p class="light" for="opcuadatanodes"><b>OPCUA_DATANODES</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #opcuadatanodes="ngModel" required id="opcuadatanodes" name="opcuadatanodes" type="text" placeholder="OPCUA_DATANODES" [(ngModel)]="predixGlobalConfig.OPCUA_DATANODES">
            </div>
            <div class="input-field col s6">
                <p class="light" for="hooverspillway"><b>HOOVER_SPILLWAY</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #hooverspillway="ngModel" required id="hooverspillway" name="hooverspillway" type="text" placeholder="HOOVER_SPILLWAY" [(ngModel)]="predixGlobalConfig.HOOVER_SPILLWAY">
            </div>
            <div class="input-field col s6">
                <p class="light" for="predixcloudidentity"><b>PREDIX_CLOUD_IDENTITY</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #predixcloudidentity="ngModel" required id="predixcloudidentity" name="predixcloudidentity" type="text" placeholder="PREDIX_CLOUD_IDENTITY" [(ngModel)]="predixGlobalConfig.PREDIX_CLOUD_IDENTITY">
            </div>
            <div class="input-field col s6">
                <p class="light" for="predixwebsocketriver"><b>PREDIX_WEBSOCKER_RIVER</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #predixwebsocketriver="ngModel" required id="predixwebsocketriver" name="predixwebsocketriver" type="text" placeholder="PREDIX_WEBSOCKER_RIVER" [(ngModel)]="predixGlobalConfig.PREDIX_WEBSOCKER_RIVER">
            </div>
            <div class="input-field col s6">
                <p class="light" for="proxyconfigurator"><b>PROXY_CONFIGURATION</b>: Default "com.ge.dspmicro.machineadapter.opcua-0"</p>
                <input class="form-control input-md" #proxyconfigurator="ngModel" required id="proxyconfigurator" name="proxyconfigurator" type="text" placeholder="PROXY_CONFIGURATION" [(ngModel)]="predixGlobalConfig.PROXY_CONFIGURATION">
            </div>
            <div class="row">
                <div class="input-field col s12" style="text-align: center;">
                    <button uiSref="igsConfig" class="btn btn-outline-rounded btn-default" (click)="save(predixGlobalConfigForm)">Previous Step
                        <i class="material-icons right">navigate_before</i>
                    </button>
                    <button class="btn waves-effect waves-light red" style="margin: 5px auto;" name="reset" id="reset">Reset Conf
                        <i class="material-icons right">delete</i>
                    </button>
                    <button class="btn waves-effect waves-light green" style="margin: 5px auto;" name="load" id="load" (click)="predixGlobalConfig.setDefault();">Load Conf
                        <i class="material-icons right">file_upload</i>
                    </button>
                    <button uiSref="predixCloudConfig" class="btn btn-success btn-outline-rounded btn-info" [disabled]="!predixGlobalConfigForm.valid" (click)="save(predixGlobalConfigForm)">Next Step
                        <i class="material-icons right">navigate_next</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>