<form #tagMappingSchemaForms="ngForm" class="editForm" novalidate>
    <div class="col s12 center">
        <h5 class="center">{{title}}</h5>
        <p class="light center">{{description}}</p>
        <br>
    </div>

    <div class="tab-pane fade in active">
        <div class='row'>
            <form [formGroup]="tagMappingSchemaWrapper" novalidate (ngSubmit)="save(tagMappingSchemaWrapper)">
                <div formArrayName="tagMappingSchemaForms">
                    <div *ngFor="let tagMappingSchemaForm of tagMappingSchemaWrapper.controls.tagMappingSchemaForms.controls; let formIndex=index">
                        <!--<div>-->
                            <!--<span>Form {{i + 1}}</span>-->
                            <!--<span *ngIf="tagMappingSchemaWrapper.controls.tagMappingSchemaForms.controls.length > 1" (click)="removeNewTagMappingSchema(i)"></span>-->
                        <!--</div>-->
                        <div [formGroupName]="formIndex" class="row">
                            <div class="input-field col s6">
                                <input class="form-control input-md" name="mappingSchemaName" type="text" placeholder="mappingSchemaName" formControlName="mappingSchemaName">
                            </div>
                            <div class="input-field col s6">
                                <input class="form-control input-md" name="channelPrefix" type="text" placeholder="channelPrefix" formControlName="channelPrefix">
                            </div>
                            <div formArrayName="mappingSchemaDict">
                                <div *ngFor="let mappingCouple of tagMappingSchemaForm.controls.mappingSchemaDict.controls; let coupleTagIndex=index">
                                    <div [formGroupName]="coupleTagIndex" class="row">
                                        <div class="input-field col s6">
                                            <input class="form-control input-md" name="tagFrom" type="text" placeholder="tagFrom" formControlName="tagFrom">
                                        </div>
                                        <div class="input-field col s6">
                                            <input class="form-control input-md" name="tagTo" type="text" placeholder="tagTo" formControlName="tagTo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12" style="text-align: center;">
            <button uiSref="predixCloudConfig" class="btn btn-outline-rounded btn-default" (click)="save(tagMappingSchemaForms)">Previous Step
                <i class="material-icons right">navigate_before</i>
            </button>
            <button class="btn waves-effect waves-light red" style="margin: 5px auto;" name="reset" id="reset">Reset Conf
                <i class="material-icons right">delete</i>
            </button>
            <button class="btn waves-effect waves-light green" style="margin: 5px auto;" name="load" id="load" (click)="tagMappingSchema.setDefault();">Load Conf
                <i class="material-icons right">file_upload</i>
            </button>
            <button uiSref="result" class="btn btn-success btn-outline-rounded btn-info" [disabled]="!tagMappingSchemaForms.valid" (click)="save(tagMappingSchemaForms)">Next Step
                <i class="material-icons right">navigate_next</i>
            </button>
        </div>
    </div>

</form>
