<form #tagMappingSchemaForms="ngForm" class="editForm" novalidate>
    <div class="col s12 center">
        <h5 class="center">{{title}}</h5>
        <p class="light center">{{description}}</p>
        <br>
    </div>

    <div class="tab-pane fade in active">
        <form [formGroup]="tagMappingSchemaWrapper" novalidate (ngSubmit)="save(tagMappingSchemaWrapper)">
            <div formArrayName="tagMappingSchemaForms">
                <div *ngFor="let tagMappingSchemaForm of tagMappingSchemaWrapper.controls.tagMappingSchemaForms.controls; let formIndex=index">
                    <div [formGroupName]="formIndex" class="row card-content predix darken-2" style="padding: 40px;">
                        <div *ngIf="tagMappingSchemaWrapper.controls.tagMappingSchemaForms.controls.length > 1">
                            <div class="input-field col s5">
                                <input class="form-control input-md" name="mappingSchemaName" type="text" placeholder="Tag Mapping Group Name" formControlName="mappingSchemaName">
                            </div>
                            <div class="input-field col s5">
                                <input class="form-control input-md" name="channelPrefix" type="text" placeholder="Channel Mapping Prefix" formControlName="channelPrefix">
                            </div>
                            <div class="input-field col s1 center-align">
                                <a class="btn-floating btn-small waves-effect waves-light light-blue" name="addTagCouple" (click)="addNewTagMappingSchema();"><i class="material-icons">add</i></a>
                            </div>
                            <div class="input-field col s1 center-align">
                                <a class="btn-floating btn-small waves-effect waves-light red" name="removeTagCouple" (click)="removeNewTagMappingSchema(formIndex);"><i class="material-icons">delete</i></a>
                            </div>
                        </div>
                        <div *ngIf="tagMappingSchemaWrapper.controls.tagMappingSchemaForms.controls.length <= 1">
                            <div class="input-field col s6">
                                <input class="form-control input-md" name="mappingSchemaName" type="text" placeholder="Tag Mapping Group Name" formControlName="mappingSchemaName">
                            </div>
                            <div class="input-field col s5">
                                <input class="form-control input-md" name="channelPrefix" type="text" placeholder="Channel Mapping Prefix" formControlName="channelPrefix">
                            </div>
                            <div class="input-field col s1 center-align">
                                <a class="btn-floating btn-small waves-effect waves-light light-blue" name="addTagCouple" (click)="addNewTagMappingSchema();"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                        <div formArrayName="mappingSchemaDict">
                            <div *ngFor="let mappingCouple of tagMappingSchemaForm.controls.mappingSchemaDict.controls; let coupleTagIndex=index">
                                <div [formGroupName]="coupleTagIndex">
                                    <div *ngIf="tagMappingSchemaForm.controls.mappingSchemaDict.controls.length > 1">
                                        <div class="input-field col s4 offset-s1">
                                            <input class="form-control input-md" name="tagFrom" type="text" placeholder="tagFrom" formControlName="tagFrom">
                                        </div>
                                        <div class="input-field col s5">
                                            <input class="form-control input-md" name="tagTo" type="text" placeholder="tagTo" formControlName="tagTo">
                                        </div>
                                        <div class="input-field col s1 center-align">
                                            <a class="btn-floating btn-small waves-effect waves-light light-blue" name="addTagCouple" (click)="addNewTagCouple(formIndex);"><i class="material-icons">add</i></a>
                                        </div>
                                        <div class="input-field col s1 center-align">
                                            <a class="btn-floating btn-small waves-effect waves-light red" name="removeTagCouple" (click)="removeNewTagCouple(formIndex, coupleTagIndex);"><i class="material-icons">delete</i></a>
                                        </div>
                                    </div>
                                    <div *ngIf="tagMappingSchemaForm.controls.mappingSchemaDict.controls.length <= 1">
                                        <div class="input-field col s5 offset-s1">
                                            <input class="form-control input-md" name="tagFrom" type="text" placeholder="Predix Cloud Tag" formControlName="tagFrom">
                                        </div>
                                        <div class="input-field col s5">
                                            <input class="form-control input-md" name="tagTo" type="text" placeholder="IGS Tag" formControlName="tagTo">
                                        </div>
                                        <div class="input-field col s1 center-align">
                                            <a class="btn-floating btn-small waves-effect waves-light light-blue" name="addTagCouple" (click)="addNewTagCouple(formIndex);"><i class="material-icons">add</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">-->
                        <!--<div class="input-field col s12 center-align">-->
                            <!--<button *ngIf="tagMappingSchemaWrapper.controls.tagMappingSchemaForms.controls.length > 1" class="btn btn-success btn-outline-rounded btn-info red" (click)="removeNewTagMappingSchema(formIndex)">Delete Group-->
                                <!--<i class="material-icons right">delete</i>-->
                            <!--</button>-->
                            <!--<button class="btn btn-success btn-outline-rounded btn-info light-blue" (click)="addNewTagMappingSchema()">Add Group-->
                                <!--<i class="material-icons right">add</i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="input-field col s12" style="text-align: center;">
            <button uiSref="predixCloudConfig" class="btn btn-outline-rounded btn-default" (click)="save(tagMappingSchemaForms)">Previous Step
                <i class="material-icons right">navigate_before</i>
            </button>
            <button class="btn waves-effect waves-light red" style="margin: 5px auto;" name="reset" id="reset">Reset Conf
                <i class="material-icons right">delete</i>
            </button>
            <button class="btn waves-effect waves-light green" style="margin: 5px auto;" name="load" id="load">Load Conf
                <i class="material-icons right">file_upload</i>
            </button>
            <button uiSref="sitesGroups" class="btn btn-success btn-outline-rounded btn-info" [disabled]="!tagMappingSchemaForms.valid" (click)="save(tagMappingSchemaForms)">Next Step
                <i class="material-icons right">navigate_next</i>
            </button>
        </div>
    </div>

</form>
