<section>
    <div class="container">
        <div class="board">
            <!-- Navigation Area (Circular Tabs) -->
            <!--<msw-navbar></msw-navbar>-->
            <!-- End Navigation Area (Circular Tabs) -->

            <!-- Content Area -->
            <div class="tab-content">
                <br>
                <!-- Nested view  -->
                <ui-view></ui-view>
            </div>
            <!-- End Content Area -->
        </div>

        <!--&lt;!&ndash; For Debugging: show our valid formData &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<form class="col s12">-->
                <!--<div class="row">-->
                    <!--<div class="col s12 center">-->
                        <!--<h5 class="center">JSON Predix Configuration Preview</h5>-->
                        <!--<p class="light center">The following textarea contains preview of JSON created by configurator</p>-->
                        <!--<br>-->
                    <!--</div>-->
                    <!--<div class="input-field col s12" style="background-color: #F1F1F1; border: none; border: 1px solid #c7c7c7; border-radius: 0;">-->
                        <!--<textarea id="textarea1" class="materialize-textarea" style="min-height: 200px; overflow: scroll;">{{ predixConfigurationData | json }}</textarea>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->

    </div>
</section>